<!DOCTYPE html>
<html lang="en">
  <%= render Howtohelp.LayoutView, "_head.html", assigns %>

  <body>
    <!--
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    -->
    <%= render Howtohelp.LayoutView, "_login-bar.html", assigns %>

    <%= render Howtohelp.LayoutView, "_search-bar.html", assigns %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= render Howtohelp.LayoutView, "_footer.html", assigns %>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
