/* This file is for your main application css. */

.orbit-container.searchbar {
}

.search-container-outter {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 10;
  color: #fff;
}

.search-container-inner {
  position: relative;
  left: -50%;
  top: -50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.big-question {
  font-size: 40px;
  margin-left: 13px;
}

.suggestions {
  font-size: 20px;
}

.search {
  position: relative;
  margin-bottom: 0;
}

.search .search-field {
  height: 90px;
  width: 900px;
  font-size: 50px;
  margin-bottom: 0;
}

.top-bar {
  background-color: #000;
}

.top-bar .menu {
  background-color: #000;
}
